:root {
  font-size: 16px;
}

body {
  font-size: 0.875rem;
  background-color: #ecf0f1; // w3-flat-clouds
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.feather {
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the top navbar */
  padding: 48px 0 0; /* Height of navbar */
  //box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 52px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: white;
}

.sidebar .nav-link.active {
  color: #2b5797;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.bg-flat-metro-dark-red {
  background-color: #b91d47 !important;
}

.top-sidebar {
  width: 5rem !important;
}

.bottom-sidebar {
  z-index: 1;
  background-color: white;
}

.channel-button {
  margin-top: calc(100vh - 210px);
  button {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}

/*
 * Content
 */

[role='main'] {
  padding-top: 52px; /* Space for top fixed navbar */
  padding-bottom: 93px; /* Space for bottom fixed navbar */
}

@media (min-width: 768px) {
  [role='main'] {
    padding-top: 52px; /* Space for top fixed navbar */
    padding-bottom: 12px; /* Space for bottom fixed navbar */
  }

  .form-width {
    width: 75%;
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/* Chat containers */
.chat-container {
  border-style: solid;
  border-color: #dedede;
  border-radius: 15px 50px 30px;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .container-width {
    width: fit-content; // Having background collapsing around the items
    padding: 15px;
  }
}

/* Darker chat container */
.darker {
  border: none;
  border-radius: 50px 15px 30px;
  color: white;
  background-color: #95a5a6; // w3-flat-concrete
}

/* Clear floats */
.chat-container::after {
  content: '';
  clear: both;
  display: table;
}

/* Style images */
.chat-img {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chat-img-right {
  float: right;
  width: 64px;
  height: 64px;
  margin-left: 20px;
  margin-right: 0;
  border-radius: 50%;
}

/* Style time text */
.time-right {
  //float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  //float: left;
  color: white;
}

/* OffCanvas */
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 48px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}
