{% extends "layout.html" %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="row">
    <div class="col-md-9">
      <h1 class="h3">Channel Name</h1>
      <div class="chat-container d-flex flex-row">
        <img src="/w3images/bandmember.jpg" alt="Avatar" />
        <div>
          <p>Name of User <span class="time-right">11:00</span></p>
          <p>What is the average review for a book with isbn ...?</p>
          <form id="form">
            <input
              id="isbn"
              autocomplete="off"
              autofocus
              placeholder="ISBNs"
              type="text"
            />
            <input type="submit" value="Get Average Review" />
          </form>
          <p id="result"></p>
        </div>
      </div>

      <div class="chat-container darker d-flex flex-row-reverse">
        <div>
          <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" />
          <!-- <ul id="votes"></ul> -->
          <div>Yes Votes: <span id="yes">{{ votes["yes"] }}</span></div>
          <div>No Votes: <span id="no">{{ votes["no"] }}</span></div>
          <div>Maybe Votes: <span id="maybe">{{ votes["maybe"] }}</span></div>
          <hr />
          <button data-vote="yes">Yes</button>
          <button data-vote="no">No</button>
          <button data-vote="maybe">Maybe</button>
          <span class="time-left">11:01</span>
        </div>
      </div>

      <div class="chat-container">
        <img src="/w3images/bandmember.jpg" alt="Avatar" />
        <p>Sweet! So, what do you wanna do today?</p>
        <span class="time-right">11:02</span>
      </div>

      <div class="chat-container darker">
        <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" />
        <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
        <span class="time-left">11:05</span>
      </div>
    </div>
  </div>
  <form id="form">
    <input
      id="chat"
      class="form-control form-control-dark w-50"
      autocomplete="off"
      autofocus
      placeholder="Type a new message."
      type="text"
    />
  </form>
  <div class="d-flex flex-row-reverse w-50 pb-3">
    <input type="submit" value="Send" />
  </div>
  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
</main>
{% endblock %}
