<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Comfortable Red Chair -->
    <link href="static/RedSeat.ico" rel="icon" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- Request/Response & Full Duplex JSCode -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='full-duplex.js') }}"
    ></script>
    <!-- Websocket JS -->
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
    ></script>
    <title>Flack</title>
  </head>
  <body>
    <!-- Modal -->
    <div
      class="modal fade"
      id="myModal"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
      aria-labelledby="registerDisplayName"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerDisplayName">
              Type In Display Name
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Display Name:</label
                >
                <input type="text" class="form-control" id="recipient-name" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Submit Name</button>
          </div>
        </div>
      </div>
    </div>
    <!-- TopNav -->
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"
    >
      <a class="navbar-brand ml-3 bg-dark" href="#">Nárkissos</a>
      <button
        class="navbar-toggler p-0 mr-3 border-0"
        type="button"
        data-toggle="offcanvas"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse offcanvas-collapse">
        <input
          class="form-control form-control-dark mx-lg-auto w-50"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#"
              ><span data-feather="user-check" class="text-white"></span
            ></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <!-- SideNav -->
        <nav
          class="col-md-1 d-none d-md-block sidebar bg-dark-orange top-sidebar"
        >
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link text-center text-white" href="#"
                  ><span data-feather="voicemail" class="d-block mx-auto"></span
                  >DM</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-center text-white" href="#"
                  ><span
                    data-feather="message-circle"
                    class="d-block mx-auto"
                  ></span
                  >Chat</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-center text-white" href="#"
                  ><span data-feather="tv" class="d-block mx-auto"></span
                  >Channel</a
                >
              </li>
            </ul>
          </div>
        </nav>
        <nav class="col-md-2 d-none d-md-block sidebar bottom-sidebar pl-5">
          <div class="sidebar-sticky">
            <div class="d-flex justify-content-center">
              <div class="flex-column">
                <h5>Channel List</h5>
                <ul class="nav">
                  <li class="nav-item">Channel List</li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      {% block content %}{% endblock %}
    </div>
    <nav
      class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark-orange d-md-none p-0"
    >
      <ul class="nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-center text-white" href="#"
            ><span data-feather="voicemail" class="d-block mx-auto"></span>DM</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center text-white" href="#"
            ><span data-feather="message-circle" class="d-block mx-auto"></span
            >Chat</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center text-white" href="#"
            ><span data-feather="tv" class="d-block mx-auto"></span>Channel</a
          >
        </li>
      </ul>
    </nav>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- Custome JS -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='feather.js') }}"
    ></script>
    <!-- Modal JS -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='modal.js') }}"
    ></script>
    <!-- OffCanvas JS -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='offcanvas.js') }}"
    ></script>
  </body>
</html>
